In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

plt.rc('font', family='Nanum Gothic')

In [2]:
ugg = pd.read_csv('CSV/(W) 어그 코케트 슬리퍼 체스트넛 | UGG | KREAM.csv')
acne = pd.read_csv('CSV/아크네 스튜디오 모헤어 체크 스카프 푸시아 라일락 핑크 | Acne Studios | KREAM.csv')
tnf = pd.read_csv('CSV/(W) 노스페이스 화이트 라벨 노벨티 눕시 다운 자켓 코코아 브라운 | The North Face | KREAM.csv')

In [3]:
def prepare_data(df):
    df['거래일'] = pd.to_datetime(df['거래일'], format='%y/%m/%d')
    df['월별'] = df['거래일'].dt.to_period('M')
    df['거래가'] = df['거래가'].str.replace('원', '').str.replace(',', '').astype(int)
    return df

ugg = prepare_data(ugg)
acne = prepare_data(acne)
tnf = prepare_data(tnf)

ugg.tail()

       Unnamed: 0        거래일     옵션     거래가   빠른배송       월별
17995       17995 2022-11-17  US 7W  141000  False  2022-11
17996       17996 2022-11-17  US 6W  142000  False  2022-11
17997       17997 2022-11-17  US 6W  142000  False  2022-11
17998       17998 2022-11-17  US 7W  142000  False  2022-11
17999       17999 2022-11-17  US 7W  140000  False  2022-11

In [4]:
acne.tail()

      Unnamed: 0        거래일        옵션     거래가   빠른배송       월별
2473        2473 2021-12-08  ONE SIZE  493000  False  2021-12
2474        2474 2021-12-04  ONE SIZE  450000  False  2021-12
2475        2475 2021-12-03  ONE SIZE  449000  False  2021-12
2476        2476 2021-11-30  ONE SIZE  499000  False  2021-11
2477        2477 2021-11-30  ONE SIZE  450000  False  2021-11

In [5]:
tnf.tail()

      Unnamed: 0        거래일 옵션     거래가   빠른배송       월별
4958        4958 2023-10-02  M  391000  False  2023-10
4959        4959 2023-10-02  M  388000  False  2023-10
4960        4960 2023-10-01  S  383000  False  2023-10
4961        4961 2023-10-01  M  390000  False  2023-10
4962        4962 2023-10-01  S  383000  False  2023-10